@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Poppins;
}

body {

    background-color: #ECE9E9;
}

#logo {
    width: 180px;
    top: 10px;
    left: 18px;
    position: absolute;
}

#container {
    height: 647px;
    display: flex;
}

#menuLateral {
    display: flex;
    flex-direction: column;
    background-color: #1A1363;
    width: 19%;
    height: 100%;
    align-items: center;
    justify-content: center;
    gap: 40px;

    a {
        text-align: center;
        text-decoration: none;
        font-family: Poppins;
        color: #ECE9E9;
        font-size: 22px;
        font-weight: 800;
        cursor: pointer;
    }

    a:hover {
        color: black;
        text-decoration: underline;

    }
}

#UsernameExib {
    display: flex;
    color: #1A1363;
    justify-self: start;
    margin-bottom: 30px;
    padding: 10px;
    font-size: 25px;
    width: 97%;

}

#b_usuario {
    color: brown;
    text-decoration: underline;
}

#logoQuiz {
    position: absolute;
    z-index: -1;
    opacity: 40%;
    width: 700px;
    right: 0;
    bottom: 0;
}

.boxDash {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.containerKpi {
    padding: 10px;
    width: 80%;
    background-color: #5f9ea066;
    margin: 10px;
    border-radius: 20px;
    display: flex;
    gap: 20px;
    height: 80px;
    align-items: center;
}

.containerKpi p {
    font-size: 20px;
    font-weight: 700;
}

.boxKpi {
    width: 25%;
    height: 97%;
    background-color: #1a1363;
    color: #ECE9E9;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 10px;

    span {
        font-size: 25px;
        font-family: Poppins;
        font-weight: 700;
    }
}


.dash {
    display: flex;
    gap: 100px;
    padding-top: 20px;
    align-items: center;
}

.telaGrafico {
    width: 600px;
    background-color: #1A1363;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 1px 5px 10px 1px #000;
}

.topRankingBox {
    color: #ECE9E9;
    background-color: #1A1363;
    width: 300px;
    height: 140px;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 1px 5px 10px 1px #000;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.topRankingBox h3 {
    text-align: center;
    text-decoration: underline;

}

.topRankingBox ol {
    list-style: none;
    gap: 10px;
    margin-top: 10px;
    width: 80%;
    display: flex;
    justify-self: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#graficosDireita {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.porcentGenero {
    color: #ECE9E9;
    background-color: #1A1363;
    width: 200px;
    height: 200px;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 1px 5px 10px 1px #000;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#formulario {
    position: absolute;
    display: none;
    gap: 10px;
    flex-direction: column;
    z-index: 3;
    width: 500px;
    height: auto;
    top: 20px;
    left: 450px;
    background-color: #80b4b6;
    padding: 10px;
    align-items: center;
    border: 2px #1A1363 solid;
    border-radius: 10px;
}




#perguntasForm {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}


.perguntasTreino {
    display: flex;
    flex-direction: column;
    background-color: #054c8a;
    padding: 5px;
    width: 45%;
    height: 75px;
    justify-content: space-between;
    text-align: center;
    border-radius: 10px;

    select{
        border-radius: 10px;
        cursor: pointer;
    }
}


#boxResposta {
    overflow: hidden;
    height: 0;
    width: 95%;
    padding: 0;
    transition: height 0.5s ease, padding 0.5s ease, opacity 0.5s ease;
    opacity: 0;
    border: #054c8a;
    border-radius: 10px;
    background-color: #FFF;
}
    
#boxResposta.expandir {
    height: 280px;
    padding: 10px;
    opacity: 1;
}
