@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Poppins;
}

body {
    background-color: #ECE9E9;
    display: flex;
}

.container {
    height: 100%;
    width: 100%;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#logo {
    margin-top: 5px;
    width: 190px;
    margin-left: 5px;
}

.navbar {
    display: flex;
    background-color: #1A1363;
    width: 70%;
    height: 70px;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 30px;
    align-items: center;
    justify-content: space-evenly;

    a {
        color: #fff;
        text-decoration: none;
        font-size: 20px;
        font-family: Poppins;
        font-weight: bold;
    }
}

.btnPerfil {
    background-color: #1A1363;
    width: 70px;
    height: 70px;
    margin-top: 10px;
    margin-right: 5px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-items: center;
}

#imgPerfil {
    margin-left: 8px;
    align-self: center;
    color: #ECE9E9;
    width: 50px;
}

.boxes {
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
    gap: 20px;

    #textInicial {
        padding-top: 30px;
        text-align: center;
        font-size: 25px;
        font-family: Poppins;
        width: 500px;
        height: 500px;
        font-weight: bold;
        gap: 20px;
    }

    #textoInicial {
        padding-top: 50px;
        margin-bottom: 100px;
    }

    #videoHome {
        background-color: #D9D9D9;
        width: 700px;
        height: 400px;
    }

}

#btnQuizz {
    display: flex;
    align-self: center;
    justify-self: center;
    width: 350px;
    height: 70px;
    justify-content: center;
    font-family: Poppins;
    font-size: 20px;
    border-radius: 20px;
    background-color: #054c8a;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

iframe {
    border-radius: 10px;
}

#imgHalter {
    position: absolute;
    top: 200px;
    left: 100px;
    width: 400px;
    height: auto;
    margin-bottom: 20000px;
    margin-right: 360px;
    opacity: 10%;
    z-index: -1;
}

button {
    cursor: pointer;
}

button:hover {
    transform: scale(1.05);
    transition: 500ms;
}

#sobre {
    background-color: #D9D9D9;
    height: 600px;
    width: auto;
    font-family: Poppins;
    padding: 20px;
    z-index: 1;
    position: relative;
}

#containerSobre {
    display: flex;
    gap: 10px;
}

#boxEsquerda {
    display: flex;
    flex-direction: column;
    width: 700px;

    a {
        position: absolute;
        align-self: center;
        width: fit-content;
        text-align: center;
        margin-top: 100px;
        font-family: Poppins;
        font-weight: bold;
        font-size: 25px;
        bottom: 85px;
        background-color: #054c8a;
        color: #FFF;
        border-radius: 15px;
        margin-top: 20px;
        padding: 10px;
        left: 195px;
    }

    a:hover {
        transform: scale(1.01);
        background-color: #1A1363;
        transition: all 0.3s ease;
    }

    #imgSobre {
        margin-left: 20px;
        position: absolute;
        width: 500px;
        border-radius: 15px;
    }
}

#boxDireita {
    width: 900px;
    margin-right: 20px;
}

#textinhoSobre {
    align-content: center;
    text-align: center;
    align-content: center;
    padding: 20px;
    width: 700px;
    height: 300px;
    font-weight: bold;
    background-color: #1A1363;
    color: #fff;
    opacity: 90%;
    font-size: 20px;
    opacity: 90%;
    border-radius: 20px;
    z-index: 3;
    position: relative;
}

#imgMuscle {
    position: absolute;
    right: 0;
    margin-top: -100px;
    z-index: 2;
    opacity: 50%;
}

h1 {
    align-self: center;
    justify-self: center;
    margin-bottom: 50px;
    cursor: pointer;
}

html {
    scroll-behavior: smooth;

}

#curiosidades {
    h1 {
        margin-top: 20px;
        margin-bottom: 0px;
    }
}

.containerCuriosidade {

    height: 600px;
    position: relative;
}

.curiosidade {

    display: flex;
    margin: 20px;
    gap: 20px;
    font-size: 18px;
    justify-content: flex-end;
    margin-bottom: 20px;

    .informacao {
        text-align: start;
        color: #FFFF;
        background-color: #39355f;
        padding: 10px;
        border-radius: 0px 20px 0px 0px;

    }

    #imgEugen {
        border-radius: 20px 0px 0px 0px;
        ;
    }

    .informacao1 {
        text-align: end;
        color: #FFFF;
        background-color: #054c8a;
        padding: 10px;

    }

    .informacao2 {

        border-radius: 0px 0px 20px 0px;
        z-index: 2;
        text-align: start;
        color: #FFFF;
        background-color: #39355f;
        padding: 10px;
    }
}

.fontesRedir {
    font-size: 14px;
    color: chartreuse;
}

#imgLevantamento {
    border-radius: 0px 0px 0px 20px;
}

#imgGarrafa {
    padding-top: 200px;
    width: 700px;
    position: absolute;
    bottom: 0;
    z-index: -1;
    opacity: 30%;
}

#voltarTopo {
    position: absolute;
    right: 0;
    background-color: #1A1363;
    margin-right: 50px;
    border-radius: 20px;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    height: 100px;
    background-color: #1A1363;
}

#infoAboutme {
    color: #D9D9D9;
    height: 100px;
    width: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

    img {
        margin-top: 10px;
        width: 150px;
        height: 90px;
    }

    a {
        color: #D9D9D9;
    }
}

#contato {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    color: #fff;
    width: 500px;
    gap: 10px;
}

.lineFooter {
    display: flex;
    height: 50px;
    align-items: center;
    gap: 10px;

    a {
        color: #fff;
    }
}

.imgFooter {
    margin-top: 5px;
    width: 40px;
    padding: 5px;
    background-color: black;
    border-radius: 100%;
    cursor: pointer;
}
