@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Poppins;
}

body {
    background-color: #ECE9E9;
}

html {
    scroll-behavior: smooth;

}
.container {
    height: 900px;
    padding-top: 20px;

}

h1 {
    font-family: Poppins;
    justify-self: center;
    color: #1A1363;
}

#btnHome {
    position: absolute;
    right: 0;
    margin-right: 20px;
    top: 0;
    margin-top: 10px;

    img {
        width: 75px;
    }

    img:hover {
        transform: scale(1.1);
        transition: 500ms;
    }
}

#intro {
    display: flex;
    flex-direction: row;
    padding: 20px;
    gap: 10px;
    z-index: 2;
    justify-content: center;
}



#img1 {
    width: 280px;
    border-radius: 20px;
}

#imgEu {
    width: 250px;
    right: 0;
    border-radius: 20px;
}

.textos {
    display: flex;
    flex-direction: column;
    font-size: 24px;
    gap: 10px;
}

.aprofundamento {
    display: flex;
    gap: 10px;
    padding: 20px;
}

#textoAprofund {
    font-size: 20px;
    text-align: end;
    align-items: center;
}

#emogiBike {
    position: absolute;
    z-index: -1;
    opacity: 10%;
    right: 200px;
    width: 500px;
}

#emogiWater {
    position: absolute;
    z-index: -1;
    opacity: 10%;
    top: 550px;
    width: 500px;
}

#voltarTopo {
    width: 60px;
    height: 60px;
    position: fixed;
    z-index: 5;
    right: 20px;
    background-color: #1A1363;
    bottom: 20px;
    border-radius: 50%;
    border: #FFF solid 2px;
}

#voltarTopo:hover{
cursor: pointer;
transform: scale(1.1);
transition: 500ms;
}


.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    height: 100px;
    background-color: #1A1363;
}

#infoAboutme {
    color: #D9D9D9;
    height: 100px;
    width: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

    img {
        margin-top: 10px;
        width: 150px;
        height: 90px;
    }

    a {
        color: #D9D9D9;
    }
}

#contato {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    color: #fff;
    width: 500px;
    gap: 10px;
}

.lineFooter {
    display: flex;
    height: 50px;
    align-items: center;
    gap: 10px;

    a {
        color: #fff;
    }
}

.imgFooter {
    margin-top: 5px;
    width: 40px;
    padding: 5px;
    background-color: black;
    border-radius: 100%;
    cursor: pointer;
}
